<div class="container">
<div id="<%= dom_id post %>">
  <p>
    <h1><%= post.title %></h1>
  </p>

  <p>
    <h5><strong><%= post.body %></strong><h5>
  </p>
  <h4> <%= pluralize(post.views,"view") %><h4>

</div>
</div>